<div class="col-sm-4 col-xs-12">
  <div class="productBox">
    <% if product.images&.any? %>
      <div class="productImage clearfix">
        <%= link_to image_tag(product.images.first.attachment(:large)), potepan_product_path(product.id), :alt => "products-img" %>
      </div>
    <% end %>
    <div class="productCaption clearfix">
      <a href=<%= potepan_product_path(product.id) %>>
        <h5><%= product.name %></h5>
        <h3><%= product.display_price %></h3>
      </a>
    </div>
  </div>
</div>
