<div class="panel panel-default">
  <div class="panel-heading">商品カテゴリー</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <% taxonomies.each do |taxonomy| %>
          <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#taxonomy_<%= taxonomy.id %>"><%= taxonomy.name %><i class="fa fa-plus"></i></a>
            <ul id="taxonomy_<%= taxonomy.id %>" class="collapse collapseItem">
              <% taxonomy.taxons.each do |category| %>
                <% if category.products.any? %>
                  <li><a href="<%= potepan_category_path(category.id) %>"><i class="fa fa-caret-right" aria-hidden="true"></i><%= category.name %><span>(<%= category.products.count %>)</span></a></li>
                <% end %>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
