<% provide(:title, @category.name) %>
<%= render partial: 'potepan/categories/light_section', locals: {title: @category.permalink} %>
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'potepan/categories/taxonomies', taxonomies: @taxonomies %>
        <%= render 'potepan/categories/filter_color' %>
        <%= render 'potepan/categories/filter_size' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'potepan/categories/filter_area' %>
        <div class="row">
          <%= render partial: 'potepan/categories/product', collection: @products %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'potepan/categories/footer_logo' %>
